{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react", "import", "react-hooks", "jsx-a11y"],
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-unused-vars": 1,
    "no-useless-escape": 1,
    "no-fallthrough": 1,
    "no-extra-boolean-cast": 1,
    "react/no-find-dom-node": 1,
    "react/no-unescaped-entities": "warn",
    "react/no-string-refs": "warn",
    "react/jsx-no-target-blank": "warn"
  }
}
